.header{
  display: flex;
  justify-content:flex-start ;
  background-color: #eee;
  width: 100%;
}

.header > img{
  margin-left: 20px;
  padding: 5px 5px 5px 5px;
  width: 70px;
}

.header > a > h1{
  margin-left: 40px;
  font-weight: bold;
  color: black;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.header > div{
  display: flex;
  align-items: center;
  margin-left: 230px;
}

.header > div > a {
  margin-left: 50px;
}

.header > div > a > li{
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #302;
}

.header> div > button > img{
  width:30px;
  background-color: #eee;
  border-radius: 12px;
}

.header > div > button {
  margin-left: 120px;
  height: 50px;
  border: #eee;
  background-color: #eee;
 
}

.header > div > button > img:hover{
  background-color: #ccc;
}

.mainContent{
  display: flex;
}

.RankAndSugg {
  display: block;
}

.rank{
  margin-left: 40px;
  margin-top: 20px;
  padding : 5px 20px 20px 20px;
  background-color: #eee;
}

.sugg{
  margin-left: 40px;
  margin-top : 60px;
  padding : 5px 20px 20px 20px;
  background-color: #eee;
}

.rank > a > li{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  line-height: 190%;
}

.sugg > a > li{
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  line-height: 190%;
}

.grow{
  margin-left: 40px; 
}
.grow > div{
  display: flex;
}
.hh1{
  margin-left: 100px;
}
.hh2{
  margin-left:600px
}